body{
	font-family:"PT Sans";
	font-weight:bold;
	font-size:14px;
	line-height:26px;
	color:#000000;
	text-transform:uppercase;
}
 p {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style:none;
}
h1{
	margin: 0;
	padding: 0;
}
.container {
	width:1200px;
	margin:0 auto;
	background-color:#b7f7cc;
}
header{
	background-color:#ffffff;
	padding:0 6%;
	position:relative;
}
.small-logo{
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-69px;
	Z-index:10;
}
.clearfix::after {
	content: "";

	display: table;
	clear: both;
}
.main-navigation{
	min-height:56px;
}
.main-navigation ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.main-navigation li{
	width:20%;	
}
.main-navigation li:nth-child(1), 
.main-navigation li:nth-child(2){
	float:left;
	text-align:left;
}
.main-navigation li:nth-child(3), 
.main-navigation li:nth-child(4){
	float:right;
	text-align:right;
}
.index-logo{
	position:relative;
	background-image:url("../img/main_logo_background.jpg");
	background-position:0 50%;
	background-repeat:no-repeat;
	background-color:#6293bc;
	overflow:hidden;
	Z-index:5;
} 
.main-logo-text{
	display:block;
	margin-top: 76px;
	margin-bottom:80px;
	margin-left:auto;
	margin-right:auto;	
}
.main-logo-background-mask{
	display:block;
	position:absolute;
	bottom:0px;
	margin-left:auto;
	margin-right:auto;	
}
.intro {
	min-height:216px;
	background-color:#ffffff;
}
.intro b{
	display:block;
}
.intro b, p{
	text-align:center;
}

.advantages{
	min-height:256px;
}
.advantage-description{
	box-sizing:border-box;
	width:400px;
}
.advantage-description b, span{
	display:block;
}
.advantage-description b, span, p{
	text-align:center;
}
.advantage-img{
	width:800px;
	height:256px;
}
.advantage1 .advantage-description{
	float:left;
	background-color:#81b3d2;
}
.advantage1 .advantage-img{
	float:right;
}
.advantage2 .advantage-description{
	float:right;
	background-color:#81b3d2;
}
.advantage2 .advantage-img{
	float:left;
}
.advantages-other .advantage-description{
	float:left;
	background-color:#eeeeee;
}
	
.features{
	min-height:330px;
}
.feature{
	background-color:#ffffff;
	box-sizing:border-box;
	width:400px;
	float:left;
}
.feature b{
	display:block;
}
.feature b, p{
	text-align:center;
}
.feature-image{
	margin-left:auto;
	margin-right:auto;	
}
.hotel-search-head{
	min-height:291px;
	background-color:#ffffff;
}
.hotel-search-head b, a{
	display:block;
}
.hotel-search-head b, a, p{
	text-align:center;
}
.hotel-search-form{
	box-sizing:border-box;
	height: 395px;
	width: 568px;
	margin-left:auto;
	margin-right:auto;
	background-color:#ffffff;
}
footer{
	min-height:593px;
	position:relative;
}
.map{
	width:1200px;
	height:593px;
}
.footer-container{
	min-height:120px;
	background-color:#fdfdfd;
	opacity:0.9;
}
.footer-hashtag, .footer-social, .footer-copyright{
	width:400px;
	float:left;
}