body{
	font-family:'PT Sans', 'Arial', sans-serif;
	font-weight:normal;
	font-size:14px;
	line-height:26px;
	color:#000000;
	text-transform:uppercase;
	padding:0px;
	margin:0px;
}
 p {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style:none;
}
h1{
	margin: 0;
	padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
	width:1200px;
	margin:0 auto;
	background-color:#b7f7cc;
}
.index-header, .hotel-search-header{
	background-color:#ffffff;
	color:#000000;
	padding:0 6%;
	position:relative;
}
.small-logo{
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-69px;
	Z-index:10;
}
.clearfix::after {
	content: "";

	display: table;
	clear: both;
}
.main-navigation{
	box-sizing:border-box;
	height:56px;
	padding-top:13px;
}
.main-navigation ul{
	margin:0px;
	padding:0px;
	
	list-style:none;
	/*! font-size:0; */
}
.main-navigation li{
	/*! display:inline-block; */
	/*! vertical-align:top; */
	box-sizing:border-box;
	
	width:20%;	
	
	font-size:14px;
	line-height:26px;
}
.main-navigation li:nth-child(1), 
.main-navigation li:nth-child(2){
	float:left;
	text-align:left;
}
.main-navigation li:nth-child(3), 
.main-navigation li:nth-child(4){
	float:right;
	text-align:right;
}
.main-navigation li:nth-child(2){
	padding-left:30px;
}
.main-navigation li:nth-child(3){
	padding-right:30px;
}
.main-navigation a{
/* 	display: block; */
	
	color:#000000;
	text-decoration:none;
}
.index-logo{
	position:relative;
	background-image:url("../img/main_logo_background.jpg");
	background-position:0 21%;
	background-repeat:no-repeat;
	background-color:#6293bc;
	overflow:hidden;
	Z-index:5;
} 
.main-logo-text{
	display:block;
	margin-top:76px;
	margin-bottom:80px;
	margin-left:auto;
	margin-right:auto;	
}
.main-logo-background-mask{
	display:block;
	position:absolute;
	bottom:0px;
	margin-left:auto;
	margin-right:auto;	
}
.intro {
	min-height:216px;
	background-color:#ffffff;
}
.intro b{
	display:block;
}
.intro b, .intro p{
	text-align:center;
}

.advantages{
	min-height:256px;
}
.advantage-description{
	box-sizing:border-box;
	width:400px;
}
.advantage-description b, .advantage-description span{
	display:block;
}
.advantage-description b, .advantage-description span, .advantage-description p{
	text-align:center;
}
.advantage-img{
	width:800px;
	height:256px;
}
.advantage1 .advantage-description{
	float:left;
	background-color:#81b3d2;
}
.advantage1 .advantage-img{
	float:right;
}
.advantage2 .advantage-description{
	float:right;
	background-color:#81b3d2;
}
.advantage2 .advantage-img{
	float:left;
}
.advantages-other .advantage-description{
	float:left;
	background-color:#eeeeee;
}
	
.features{
	min-height:330px;
}
.feature{
	background-color:#ffffff;
	box-sizing:border-box;
	width:400px;
	float:left;
}
.feature b{
	display:block;
}
.feature b, .feature p{
	text-align:center;
}
.feature-image{
	margin-left:auto;
	margin-right:auto;	
}
.hotel-search-head{
	min-height:291px;
	background-color:#ffffff;
}
.hotel-search-head b, .hotel-search-head a{
	display:block;
}
.hotel-search-head b, .hotel-search-head a, .hotel-search-head p{
	text-align:center;
}
.hotel-search-form{
	box-sizing:border-box;
	height: 395px;
	width: 568px;
	margin-left:auto;
	margin-right:auto;
	background-color:#ffffff;
}
.index-footer{
	min-height:593px;
	position:relative;
}
.map{
	width:1200px;
	height:593px;
}
.footer-container{
/* 	min-height:120px; */
	background-color:#fdfdfd;
	opacity:0.9;
}
.footer-hashtag, .footer-social, .footer-copyright{
	width:400px;
	float:left;
}
.search-form{
	min-height:217px;
	background-image:url("../img/hotel_search_background.jpg");
	background-position:0 50%;
	background-repeat:no-repeat;
	background-color:#6a6e74;
	color:#FFFFFF;
	overflow:hidden;
	Z-index:5;
}
.form-left-item{
	box-sizing:border-box;
	width:240px;
	float:left;
}
.form-middle-item{
	box-sizing:border-box;
	width:288px;
	float:left;
}
.form-right-item{
	box-sizing:border-box;
	width:328px;
	float:right;
}
.search-result-header{
	min-height: 87px;
}
.search-result-item{
	min-height: 151px;
}
.search-result-item-left{
	float:left;
	margin-left:72px;
}
.search-result-item-left img{
	width:135px;
	height:90px;
}
.search-result-item-mid{
	float:left;
	margin-left:30px;
}
.search-result-item-right{
	float:right;
	margin-right:72px;
}