body{
	font-family:'PT Sans', 'Arial', sans-serif;
	font-weight:normal;
	font-size:14px;
	line-height:26px;
	color:#000000;
	text-transform:uppercase;
	padding:0px;
	margin:0px;
}
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

 p {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style:none;
}
h1{
	margin: 0;
	padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
	width:1200px;
	margin:0 auto;
	/* background-color:#b7f7cc; */
}
.index-header, .hotel-search-header{
	background-color:#ffffff;
	color:#000000;
	padding:0 6%;
	position:relative;
}
.small-logo{
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-69px;
	Z-index:10;
}
.clearfix::after {
	content:"";

	display:table;
	clear: both;
}
.main-navigation{
	box-sizing:border-box;
	height:56px;
	padding-top:13px;
}
.main-navigation ul{
	margin:0px;
	padding:0px;
	
	list-style:none;
}
.main-navigation li{
	box-sizing:border-box;
	
	width:20%;	
	
	font-size:14px;
	line-height:26px;
}
.main-navigation li:nth-child(1), 
.main-navigation li:nth-child(2){
	float:left;
	text-align:left;
}
.main-navigation li:nth-child(3), 
.main-navigation li:nth-child(4){
	float:right;
	text-align:right;
}
.main-navigation li:nth-child(2){
	padding-left:30px;
}
.main-navigation li:nth-child(3){
	padding-right:30px;
}
.main-navigation a{
	color:#000000;
	text-decoration:none;
	font-weight: bold;
}
.index-logo{
	position:relative;
	background-image:url("../img/main_logo_background.jpg");
	background-position:0 21%;
	background-repeat:no-repeat;
	background-color:#6293bc;
	overflow:hidden;
	Z-index:5;
} 
.main-logo-text{
	display:block;
	margin-top:76px;
	margin-bottom:80px;
	margin-left:auto;
	margin-right:auto;	
}
.main-logo-background-mask{
	display:block;
	position:absolute;
	bottom:0px;
	margin-left:auto;
	margin-right:auto;	
}
.intro{
	box-sizing:border-box;
	height:216px;
	padding-top:60px;
	padding-bottom:57px;
	padding-left:100px; /*взял с потолка, просто чтоб был*/
	padding-right:100px; /*взял с потолка, просто чтоб был*/
	
	background-color:#ffffff;
	color:#000000;
}
.intro-name{
	font-size:21px;
	line-height:26px;
	font-weight:bold;
	text-align:center;
	
	margin-bottom:27px;
}
.intro-description{
	font-size:14px;
	line-height:26px;
	text-align:center;
}
.advantages{
	min-height:256px;
}
.advantage-description{
	box-sizing:border-box;
	width:400px;
	height:256px;
		
	padding-top:53px;
	padding-bottom:57px;
	padding-left:60px;
	padding-right:60px;
}
.advantage-description span{
	display:block;
}
.advantage-description span, .advantage-description p{
	text-align:center;
}
.advantage-name{
	font-size:21px;
	line-height:21px;
	font-weight:bold;
	
	margin-bottom:24px;
}
.advantage-number{
	font-size:14px;
	line-height:21px;
	
	position:relative;
	margin-bottom: 21px;
}
.advantage-number::before{
	content:"";
	border-bottom:2px solid #FFFFFF;
	
	display:block;
	width:9px;
	
	position:absolute;
	top:11px;
	left:115px;
}
.advantage-number::after{
	content:"";
	border-bottom:2px solid #FFFFFF;
	
	display:block;
	width:9px;
	
	position:absolute;
	top:11px;
	right:115px;
}
.advantage-text{
	font-size:14px;
	line-height:21px;
}
.advantage-img{
	width:800px;
	height:256px;
}
.advantage1 .advantage-description{
	float:left;
	background-color:#81b3d2;
	color:#ffffff;
}
.advantage1 .advantage-img{
	float:right;
}
.advantage2 .advantage-description{
	float:right;
	background-color:#81b3d2;
	color:#ffffff;
}
.advantage2 .advantage-img{
	float:left;
}
.advantages-other .advantage-description{
	float:left;
	background-color:#eeeeee;
}

.features{
	min-height:330px;
}
.feature{
	background-color:#ffffff;
	box-sizing:border-box;
	width:400px;
	height:330px;
	padding-top:58px;
	padding-bottom:84px;
	padding-left:50px;
	padding-right:50px;
	
	float:left;
}
.feature-img{
	box-sizing:border-box;
	width:80px;
	height:80px;
	margin-left:auto;
	margin-right:auto;	
	margin-bottom: 23px;
}
.feature-img img{
	display:block;
	margin:auto;
}
.feature-name{
	font-size:21px;
	line-height:21px;
	font-weight:bold;
	
	margin-bottom:24px;
}
.feature-text{
	font-size:14px;
	line-height:21px;
}
.feature-description p{
	text-align:center;
	margin-left:auto;
	margin-right:auto;	
}

.hotel-search-head{
	box-sizing:border-box;
	height:291px;
	position:relative;
	
	padding-top:56px;
	padding-bottom:96px;
	padding-left:316px;
	padding-right:316px;
		
	background-color:#ffffff;
}
.hotel-search-head-name{
	font-size:30px;
	line-height:24px;
	font-weight:bold;
	
	margin-bottom:30px;
}
.hotel-search-head-text{
	font-size:14px;
	line-height:24px;
	
}
.hotel-search-head-btn{
	position:absolute;
	bottom:0;
	
	box-sizing:border-box;
	width:568px;
	height:86px;
	
	padding-top:30px;
	padding-bottom:30px;
	padding-left:84px;
	padding-right:84px;
	
	background-color:#766357;
	color:#FFFFFF;
}
.hotel-search-head a{
	display:block;
	text-decoration:none;
	
	font-size:21px;
	line-height:26px;
	font-weight:bold;
	color:inherit;
	
}
.hotel-search-head a, .hotel-search-head p{
	text-align:center;
}
.hotel-search-form{
	box-sizing:border-box;
	height: 395px;
	width: 568px;
	margin-left:auto;
	margin-right:auto;
	background-color:#ffffff;
	color:#000000;
/* 	display:none; */
}
.index-footer{
	min-height:593px;
	position:relative;
}
.hotel-search-footer{
	height:120px;
	position:relative;
}
.map{
	width:1200px;
	height:593px;
	position: absolute;
	bottom:0;
}
.footer-container{

	background-color:#fdfdfd;
	opacity:0.9;
	color:#FFFFFF;
	
	position:absolute;
	bottom:0;
}
.footer-hashtag, .footer-social, .footer-copyright{
	float:left;
	box-sizing:border-box;
	width:400px;
	height: 120px;

	text-align:center;
}
.footer-hashtag{
	padding-top:46px;
	padding-bottom:40px;
}
.footer-hashtag a{
	display:inline-block;
	vertical-align:top;

	text-decoration:none;
	
	font-size:21px;
	line-height:26px;
	font-weight:bold;
	color:#000000;
}
.footer-social{
	padding-top:36px;
	padding-bottom:36px;
}
.social-btn{
	display:inline-block;
	vertical-align:top;
	width:46px;
	height:48px;
	font-size:0px;
	background-color:#81b3d2;
	position:relative;
	color:#ffffff;
	text-align:center;
}
.social-btn span{

	font-size:19px;
	line-height:48px;
}
.footer-copyright{
	padding-top:42px;
	padding-bottom:25px;
}
.footer-copyright span{
	display:inline-block;
	vertical-align:top;
	margin-top:5px;
	
	
	font-size:14px;
	line-height:26px;
	color:#000000;
}

.search-form{
	min-height:217px;
	background-image:url("../img/hotel_search_background.jpg");
	background-position:0 50%;
	background-repeat:no-repeat;
	background-color:#6a6e74;
	color:#FFFFFF;
	overflow:hidden;
	Z-index:5;
}
.form-left-item{
	box-sizing:border-box;
	width:240px;
	float:left;
}
.form-middle-item{
	box-sizing:border-box;
	width:288px;
	float:left;
}
.form-right-item{
	box-sizing:border-box;
	width:328px;
	float:right;
}
.search-result-header{
	box-sizing:border-box;
	height: 87px;
	
	padding-top:29px;
	padding-bottom:25px;
	padding-left:72px;
	padding-right:72px;
}
.search-result-header-title{
	display:inline-block;
	vertical-align:baseline;
		
	font-size:21px;
	line-height:26px;
	font-weight:bold;
	color:#000000;
}
.search-result-header output{
	display:inline-block;
	vertical-align:baseline;
	margin-left:5px;
	
	font-size:21px;
	line-height:26px;
	font-weight:bold;
	color:#000000;
}
.search-result-header-sort{
	display:inline-block;
	vertical-align:baseline;
	margin-left:44px;
		
	font-size:12px;
	line-height:18px;
	color:#000000;
}
.search-result-header .sort{
	display:inline-block;
	vertical-align:baseline;

	font-size:12px;
	line-height:18px;
}
.search-result-header .active{
	margin-left:37px;
	color:#81b3d2;
	text-decoration: none;
}
.search-result-header .passive{
	margin-left:37px;
	color:#000000;
	opacity:0.3;
	text-decoration:underline;
}
.search-result-item{
	box-sizing:border-box;
	height: 151px;
	
	padding-top:25px;
	padding-bottom:25px;
	padding-left:72px;
	padding-right:72px;
}
.search-result-item-left{
	float:left;

}
.search-result-item-left img{
	width:135px;
	height:90px;
}
.search-result-item-mid{
	float:left;
	margin-left:30px;
}
.search-result-item-right{
	float:right;
	margin-right:72px;
}